*{
	margin:0;
	padding:0;
}

body{
	color: #666;
	font: 12px/150% tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;
}

a{
	text-decoration:none;
}

.w{
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

#shortcut-2021{
	background-color:#D3D3D3;
	height:35px;
	width: 100%;
}

.w li{
	list-style:none;
	display:inline-block;
	line-height:35px;
}
.w a{	
	font:13px/35px Arial;
	color:#808080; 
}

.iconfont{
	margin-right:5px;
}

#fl{
	float:left;
}

/* 右边元素向右浮动 */
#fr{
	float:right;
}
#fr ul li{
	float: left;
}

.spacer{
	width: 1px;
	height: 10px;
	background: #0e0d0d0c;
	margin: 11px 5px 0;
}

.style_red a{
	color: #ff3300 !important;
}

.w li a:hover{
	color: #ff3300;
}

.iconfont{
	margin-top: 5px;
}