
#csm{
    height: 100px;
}
/*Logo部分*/
.w #logo-2021{
    position: relative;
}

#logo-2021{
    width: 350px;
    height: 50px;
    margin:15px 0;
}


#logo-header{
    display: block;
    background: url("../img/JDlogo.jpeg") no-repeat center;
    background-size: contain;
    width: 134px;
    height: 50px;
    text-indent: -1000px;
}

#extra{
    position: absolute;
    left: 150px;
    top: 15px;
    color: #808080;
}

#channel{
    float: left;
    width: 50px;
    font-size: 20px;
}

#category-mini{
    float: left;
}

#category-mini h2 a{
    display: block;
    height: 20px;
    line-height: 20px;
    border: 1px solid #D3D3D3;
    padding-left: 5px;
}


/*搜索框部分*/

form{
    display: block;
    float: left;
    position: absolute;
    right: 480px;
    top: 60px;
}

form input{
    border: 2px solid #000000;
    height: 24px;
    width: 450px;
    padding: 4px;
    /* text-indent: 1em; */
}

form button{
    box-sizing: content-box;
    position: absolute;
    left: 462px;
    height: 34px;
    width: 68px;
    padding: 1px 6px;
    background: #000000;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
}


/*购物车部分*/
#shopping-cart{
    position: absolute;
    right: 200px;
    top: 60px;
    width: 91px;
    height: 34px;
    background: #F9F9F9;
    border: 1px solid #DFDFDF;
    padding: 0 28px 0 19px;
}

#shopping-cart a, #shopping-cart .icon-gouwuche1{
    color: #ff3300;
}

  
/* 热卖部分 */
#hotwords{
    position: absolute;
    color: #808080;
    font-size: 10px;
    left: 620px;
    top: 100px;
    height: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

#hotwords a{
    margin: 0 5px;
}